/* .score-circle {
  width: 100px;
  height: 100px;
}

.circle-bg {
  fill: none;
  stroke: red;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke: lightgreen;
  stroke-width: 3.8;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: center;
  transition: stroke-dashoffset 0.35s;
}
 */

 .score-circle {
   width: 100px;
   height: 100px;
 }

 .circle-bg {
   fill: none;
   stroke: red;
   stroke-width: 3.8;
 }

 .circle {
   fill: none;
   stroke: lightgreen;
   stroke-width: 3.8;
   stroke-linecap: round;
   transform: rotate(-90deg);
   transform-origin: center;
   transition: stroke-dashoffset 0.35s;
 }

 .circle-text {
   font-size: 10px;
   fill: white;
   font-weight: bold;
   dominant-baseline: middle;
 }