/* .video_controls__ctrl__button {
	@apply flex h-9 w-11 items-center justify-center px-1 py-2 bg-transparent;
}

.video_controls__ctrl__button_fs {
	@apply flex h-16 w-16 items-center justify-center px-1 py-5;
}

.video_controls__ctrl__button__icon {
	@apply h-6 w-6;
}

.video-grid {
	display: grid;
	grid-template-columns: 2fr 0.5fr;
	grid-template-rows: repeat(2, minmax(auto, 264px));

	grid-template-areas:
		"video queue"
		"video queue"
		". .";
}

.video-area {
	grid-area: video;
}
.queue-area {
	grid-area: queue;
	aspect-ratio: 4 / 9;
}

@media (max-width: 1280px) {
	.video-grid {
		@apply flex flex-col;
	}
	.video-area {
	}
	.queue-area {
		aspect-ratio: auto;
	}
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Me5Q.ttf)
		format("truetype");
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9vAw.ttf)
		format("truetype");
}
 */
