.video-grid {
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    grid-template-rows: repeat(2, minmax(auto, 264px));

    grid-template-areas:
        'video queue'
        'video queue'
        '. .';
}

.video-area {
    grid-area: video;
}
.queue-area {
    grid-area: queue;
    aspect-ratio: 4 / 9;
}

@media (max-width: 1280px) {
    .video-grid {
        @apply flex flex-col;
    }
    .video-area {
    }
    .queue-area {
        aspect-ratio: auto;
    }
}
