@tailwind components;

@layer components {
    .clip-rect-left-0 {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }

    .clip-rect-right-0 {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }

    .clip-rect-full {
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }
}
