@import "./global.css";
@import "./common.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.flex-center {
		@apply flex items-center justify-center;
	}

	.flex-center-vertical {
		@apply flex items-center;
	}

	.grid-center {
		@apply grid place-items-center;
	}

	.vertical {
		@apply items-center;
	}

	.horizontal {
		@apply justify-center;
	}

	.y-underline {
		@apply underline underline-offset-2 decoration-2;
	}

	.y-underline-black {
		@apply y-underline decoration-y-black;
	}

	.y-underline-white {
		@apply y-underline decoration-y-white;
	}

	.y-underline-green {
		@apply y-underline decoration-y-green;
	}

	.y-underline-darkgreen {
		@apply y-underline decoration-y-darkgreen;
	}

	.solid-shadow-black {
		box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
	}

	.solid-shadow-darkgreen {
		box-shadow: 4px 4px 0px 0px #395b50;
	}

	.solid-shadow-green {
		box-shadow: 4px 4px 0px 0px #87a878;
	}

	.btn-move-base {
		@apply hover:-translate-y-0.5 hover:-translate-x-0.5 transform;
	}
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 47.4% 11.2%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 47.4% 11.2%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 100% 50%;
		--destructive-foreground: 210 40% 98%;

		--ring: 215 20.2% 65.1%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 224 71% 4%;
		--foreground: 213 31% 91%;

		--muted: 223 47% 11%;
		--muted-foreground: 215.4 16.3% 56.9%;

		--accent: 216 34% 17%;
		--accent-foreground: 210 40% 98%;

		--popover: 224 71% 4%;
		--popover-foreground: 215 20.2% 65.1%;

		--border: 216 34% 17%;
		--input: 216 34% 17%;

		--card: 224 71% 4%;
		--card-foreground: 213 31% 91%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 1.2%;

		--secondary: 222.2 47.4% 11.2%;
		--secondary-foreground: 210 40% 98%;

		--destructive: 0 63% 31%;
		--destructive-foreground: 210 40% 98%;

		--ring: 216 34% 17%;

		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

/* Scrollbar settings */
* {
	@apply scroll-smooth scrollbar-thin scrollbar-track-slate-300 scrollbar-thumb-slate-700 font-content;
}

body {
	margin: 0;
	/* background-color: #283044;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

*::selection {
	background-color: black !important;
	color: white !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 !important;
}

h1 {
	@apply text-step-5 font-bold;
}

h2 {
	@apply text-step-4 font-bold;
}

h3 {
	@apply text-step-3 font-bold;
}

h4 {
	@apply text-step-2 font-bold;
}

h5 {
	@apply text-step-1 font-bold;
}

h6 {
	@apply text-step-0 font-bold;
}

p,
small,
label,
a,
span,
li,
td,
th,
input,
textarea,
select,
button {
	font-size: text-step--2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-heading;
}

.card-base {
	@apply rounded-lg border p-4;
}
